@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: rgb(34, 30, 30);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    margin-top: 8px;
}

.info-bar{
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-info svg{
    height: 2rem;
    width: 2rem;
}

.player-info h3, .player-info svg{
    margin-bottom: 0.5rem;
}

.player-info{
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.cell.highlight{
    background-color: rgb(167, 167, 167);
    color: black;
}

.highlight svg{
    fill: currentColor;
}

.player-1-turn, .player-2-turn{
    opacity: 0.3;
}

.player-1-turn.active, .player-2-turn.active{
    opacity: 1;
}

.player-info p.active{
    opacity: 1;
}

.start-button, .play-again-button{
    /* background-color: rgb(34, 30, 30); */
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 9999px;
    width: 150px;
    height: 60px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.1s ease-in;
}

.start-button:hover, .play-again-button:hover{
    color: black;
    background-color: white;
}

.play-again-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-again-svg{
    height: 1rem;
    padding-right: 0.6rem;
    padding-bottom: 2px;
    transition: transform 1s ease;
    transform-origin: center;
    transform-box: fill-box;
}

.play-again-button:hover .play-again-svg{
    transform: rotate(360deg);
}

.play-again-svg, .play-again-svg path{
    fill: currentColor;
}

.game{
    display: flex;
    justify-content: center;
}

.game-container, .turn-indicator{
    flex: 1;
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-grid{
    margin: 3rem 3rem 1rem 3rem;
    gap: 1rem;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-container > p{
    margin-bottom: 1rem;
}

.cell{
    height: 100px;
    width: 100px;
    background-color: rgb(34, 30, 30);

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell svg{
    height: 4rem;
    width: 4rem;
}